/* General theme independed control css. */

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnRectangle {
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnRectangle-Template {
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnRectangle.TcHmi_Controls_System_TcHmiControl-operate-disallowed::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
    cursor: not-allowed;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnShape-SVG * {
    display: none;
}
