/* General theme independed control css. */

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage {
    position: absolute;
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Template {
    position: absolute;
    width: 100%;
    height: 100%;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Bar {
    position: absolute;
    width: 100%;
    left: 0;
}
.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Toolbar {
    top: 0;
}


.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Frame {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Surface {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Viewer {
    position: absolute;
    left: 0;
    top: 0;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-OverlayImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-OverlaySVG {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Placeholder {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 20px;
    min-height: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(164, 174, 184);
    font-size: 16px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar {
    bottom: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    font-size: 12px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar div {
    flex: 0 0 auto;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar img {
    flex: 0 0 auto;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-ImageSize {
    width: auto;
    margin-right: 8px;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-ImageSizeIcon {
    width: 24px;
    height: 24px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-PixelColor {
    width: auto;
    min-width: 67px;
    margin-right: 3px;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-PixelColorIcon {
    width: 24px;
    height: 24px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-PixelPosition {
    width: auto;
    min-width: 55px;
    margin-right: 3px;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-PixelPositionIcon {
    width: 24px;
    height: 24px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-ShapeValue {
    width: auto;
    min-width: 51px;
    margin-right: 3px;
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Infobar-ShapeValueIcon {
    width: 24px;
    height: 24px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Thumbnail {
    display: none;
    position: absolute;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    overflow: hidden;
    margin: 5px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-ThumbnailMarker {
    display: none;
    position: absolute;
    z-index: 4;
    box-sizing: border-box;
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-ThumbnailMarker::before {
    content: '';
    position: absolute;
    border: 2px solid black;
    border: 2px solid rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Template .TcHmi_Controls_Beckhoff_TcHmiButton {
    box-shadow: none;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-Template .TcHmi_Controls_Beckhoff_TcHmiCombobox-template-input {
    padding: 2px 8px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnImage-ScaleSelection-TouchGuard {
    display: none;
    position: absolute;
    z-index: 1;
}
