/* General theme independed control css. */

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor {
    overflow: hidden;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Template {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Container {
    position: absolute;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-ColorBox {
    position: absolute;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-ColorBoxTransparentImage {
    position: absolute;
    background-image: url('Icons/Transparent.png');
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-ColorInput {
    position: absolute;
    max-width: 0;
    max-height: 0;
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    opacity: 0;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-TouchGuard {
    position: absolute;
    cursor: default;
    z-index: 1;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Template .TcHmi_Controls_Beckhoff_TcHmiNumericInput-template-input {
    box-shadow: none;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Template .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-ticks,
.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Template .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-range,
.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Template .TcHmi_Controls_Beckhoff_TcHmiLinearGauge-template-description {
    display: none;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor .TcHmi_Controls_Beckhoff_TcHmiLinearGauge {
    padding: 0;
    overflow: visible;
}

.TcHmi_Controls_Beckhoff_Vision_TcHmiVnColor-Hidden {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}
